html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: var(--light-grey);
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0px;
  padding: 0px 10px;
}

@media (min-width: 840px) {
  .container {
    width: 800px;
    margin: 0px auto;
  }
}

.container:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}