* {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}

a {

}

a:hover {

}

a:active {

}

.container {
  width: 80%; 
  margin: 0px auto;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  -webkit-box-shadow: inset 0px -2px 8px 0px rgba(200, 200, 200, 0.3);
  box-shadow: inset 0px -2px 8px 0px rgba(200, 200, 200, 0.3);
}

h1#site-title {
  font-weight: 100;
  font-size: 1.8em;
  text-align: center;
  margin: 35px 0px 30px 0px;
}

.banner {
  width: 100%;
  height: 300px;
  background-image: url('img/photo.jpg');
  background-size: 100% auto;
  padding-top: 40px;
}

.welcome {
  width: 80%;
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  margin: 0px auto;
  color: #fff;
}

.welcome h2 {
  margin-top: 0px;
  font-weight: 100;
  text-align: center;
}