* {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
}

a {

}

a:hover {

}

a:active {

}

small {
  font-weight: 300;
  color: #999;
}

.container {
  width: 80%; 
  margin: 0px auto;
}

.sidebar {
  margin-top: 30px;
  padding: 5px 20px;
  background-color: #efefec;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  -webkit-box-shadow: inset 0px -1px 5px -1px rgba(200, 200, 200, 0.4);
  box-shadow: inset 0px -1px 5px -1px rgba(200, 200, 200, 0.4);
}

h1#site-title {
  font-weight: 100;
  font-size: 1.8em;
  text-align: center;
  margin: 35px 0px 30px 0px;
}

.banner {
  width: 100%;
  background-image: url('img/photo.jpg');
  background-size: 120%;
  background-repeat: no-repeat;
  width: 100%;
  height: 10%;
  padding-top: 5%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 5%;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(200, 200, 200, 0.8);
  box-shadow: 0px 1px 5px 0px rgba(200, 200, 200, 0.8);
}

.welcome {
  width: 80%;
  background: rgba(0, 0, 0, 0.8);
  padding: 40px 40px 20px 40px;
  margin: 0px auto;
  color: #fff;
}

.welcome h2 {
  margin-top: 0px;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
}

.description {
  padding: 50px 0px 20px 0px;
  text-align: center;
}

.description p {
  font-size: 1.3em;
  font-weight: 100;
}

.description p.message {
  color: #969693;
  font-size: 1em;
}

#pre-order {
  margin: 50px 0px;
  background-color: #efefec;
  padding: 30px;
}

#pre-order h1 {
  border: none;
  line-height: 1.5;
  font-size: 25px;
}

.accent-color {
  color: #FF46AF;
}

.center {
  text-align: center;
}

.newsletter {
  text-align: center;
}

.newsletter h2 {
  font-weight: 100;
  margin-bottom: 30px;
}

.mc-field-group label {
  font-weight: 300;
}

input.email {
  border: 1px solid #ccc;
  display: inline-block;
  outline: none;
  width: 150px;
  padding: 8px;
  vertical-align: top;
  margin-bottom: 15px;
  font-weight: 300;
}

input.btn {
  background-color: #A4CD2C;
  color: #fefefa;
  border-radius: 2px;
}

section h1 {
  font-weight: 100;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #efefec;
  margin-bottom: 25px;
}

h3.post-title {
  font-weight: 300;
  padding-bottom: 30px;
  border-bottom: 1px solid #efefe2;
  margin-bottom: 30px;
}

#tumblr a, 
h3.post-title a {
  color: #757572;
}

.sidebar h5 {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 7px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

#interwebs {
  margin-bottom: 50px;
}

#interwebs h5 {
  text-align: center;
  font-weight: 100;
  font-size: 35px;
  text-transform: lowercase;
  color: #A4CD2C;
  margin-bottom: 20px;
}

#interwebs ul {
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 100;
}

#interwebs li {
  display: inline-block;
}

#interwebs #find li {
  margin-bottom: 3px;
  width: 100%;
  display: block;
}

#interwebs #find li a {
  background-color: #CC2C45;
  padding: 10px 20px;
  font-size: 30px;
  color: #fff;
  font-weight: 100;
  display: block;
}

#interwebs ul#like {
  padding-top: 20px;
}

#interwebs ul#like li {
  width: 120px;
}

@media only screen and (min-width: 500px) {
  .banner {
    padding-top: 8%;
    padding-bottom: 8%;
  }

  .welcome h2 {
    font-size: 30px;
  }

  .description p {
    font-size: 1.8em;
  }

  .description p.message {
    font-size: 1.4em;
  }

  #pre-order h1 {
    font-size: 35px;
  }

  #interwebs ul#like {
    padding-left: 30px;
  }

  #interwebs #find li {
    width: auto;
    display: inline-block;
  }
}