html,
body {
  padding: 0px;
  margin: 0px;
}

html,
body,
input,
button,
select,
textarea {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #3c80c3;
  text-decoration: none;
}

a:hover {
  color: #244D75;
}

a:active,
a:focus {
  color: #244D75;
}


h1, h2, h3,
h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0px;
  font-weight: 300;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

small {
  font-weight: 300;
  color: #999;
}

hr {
  border-top: 1px solid #e2e2e2;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 10px 0 30px 0;
}

.sidebar {
  margin-top: 30px;
  padding: 5px 20px;
  background-color: #efefec;
}

main p {
  font-family: Lora, Georgia, sans-serif;
}

.sidebar p {
  font-size: 15px;
}

header {
  width: 100%;
  font-weight: 100;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  margin-bottom: 50px;
}

.site-title {
  font-family: Lora, Georgia, sans-serif;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}

.site-title a {
  color: #1E4147;
}

.site-title a:hover,
.site-title a:focus {
  color: #343432;
}

header ul.nav {
  background-color: #FCEBCA;
  margin: 20px 0px;
  padding: 6px;
  text-align: center;
}

header ul.nav li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 15px;
}

header ul.nav a {
  color: #1E4147;
}

header ul.nav a:hover,
header ul.nav a:focus {
  color: #000;
}

input.email {
  border: 1px solid #ccc;
  border-radius: 2px;
  display: inline-block;
  outline: none;
  width: 150px;
  padding: 0px 10px;
  vertical-align: top;
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 2.3;
}

@media only screen and (min-width: 510px){
  input.email {
    width: 250px;
  }
}

.btn, 
.button {
  background-color: #F34A53;
  color: #fefefa;
  border-radius: 2px;
  border: 1px solid #F34A53;
  font-weight: 400;
  cursor: pointer;
  line-height: 2.9;
  font-size: 14px;
  padding: 0px 10px;
}

a.btn, 
a.button {
  padding: 11px 10px 10px 10px;
}

.btn:hover,
.button:hover,
.btn:focus,
.button:focus {
  background-color: #F01924;
  border-color: #F01924;
  color: #fff;
}

.btn.yellow, 
.button.yellow {
  background-color: #FAE3B4;
  border-color: #FAE3B4;
  color: #1E4147;
}

.btn.yellow:hover,
.button.yellow:hover,
.btn.yellow:focus,
.button.yellow:focus {
  background-color: #FAD899;
  border-color: #FAD899;
  color: #000;
}

section h1 {
  font-weight: 100;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #efefec;
  margin-bottom: 25px;
  margin-top: 40px;
}

.posts {
  margin-bottom: 30px;
}

.posts a {
  color: #1E4147;
  text-decoration: none;
}

.posts a:hover {
  color: #000;
  text-decoration: none;
}

.posts h3.post-title {
  margin-top: 5px;
}

.posts .post-content p {
  margin-top: 10px;
}

.post {
  padding-bottom: 0px;
  border-bottom: 1px solid #efefe2;
  margin-bottom: 30px;
}

p.post-date {
  margin-bottom: 5px;
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: left;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  clear: both;
}

h3.post-title {
  font-weight: 900;
  margin-top: 10px;
  text-align: left;
  font-size: 30px;
  letter-spacing: -1px;
}

a.readmore {
  background-color: #CC2C45;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  font-weight: 100;
  display: inline-block;
  margin: 15px auto;
}

a.readmore:hover {
  background-color: #454545;
  border-color: #454545;
  color: #fff;
}

.sidebar h5 {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 7px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

#interwebs {
  margin-top: 100px;
  margin-bottom: 50px;
  clear: both;
}

#interwebs h5 {
  text-align: center;
  font-weight: 100;
  font-size: 35px;
  text-transform: lowercase;
  color: #F34A53;
  margin-bottom: 20px;
}

#interwebs ul,
ul#like {
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 100;
}

#interwebs li,
#like li {
  display: inline-block;
}

#interwebs #find li {
  margin-bottom: 3px;
  width: 100%;
  display: block;
}

#interwebs #find li a {
  background-color: #CC2C45;
  padding: 10px 20px;
  font-size: 30px;
  color: #fff;
  font-weight: 100;
  display: block;
}

#interwebs #find li a:hover {
  background-color: #454545;
}

#interwebs ul#follow {
  margin-top: 10px;
}

#interwebs ul#follow li {
  width: 120px;
  vertical-align: middle;
}

#post {
  padding-top: 30px;
}

#post h2 {
  font-weight: 300;
}

#post .post-content p {
  margin-bottom: 20px;
}

.post-content img {
  max-width: 100%;
  height: auto;
}

.group {
  margin-bottom: 50px;
}

.group-title {
  color: #858583;
  font-weight: 300;
}

.group-item {
  margin-bottom: 40px;
}

.group-item-title {
  margin-bottom: 40px;
}


/*
* BOOKS
*/

.book {

}

.book-cover {
}

.book-info {

}

.book-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #1E4147;
}

.book-description {

}

.book-cover-small {
  width: 100%;
  height: auto;
}

.book-learn-more {
  margin-top: 20px;
}

/* tablet size */
@media only screen and (min-width: 620px) {
  .book {

  }

  .book-cover {
    float: left;
  }

  .book-info {

  }

  .book-title {

  }

  .book-description {

  }

  .book-cover-small {
    width: 230px;
    margin-right: 20px;
  }
}

/* desktop size */
@media only screen and (min-width: 960px) {
  .book {

  }

  .book-cover {
  }

  .book-info {

  }

  .book-title {
    font-size: 2em;
  }

  .book-description {
    font-size: 1.2em;
  }

  .book-cover-small {
    width: 250px;
  }
}

footer {
  margin-top: 30px;
  padding: 20px 0px;
  text-align: center;
  background-color: #efefec;
}

footer ul {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

footer ul li {
  display: inline-block;
  padding: 10px;
}

#team-members {
  margin: 0px;
  padding: 0px;
}

.team-member {
  list-style-type: none;
  border-bottom: 1px solid #efefec;
  margin-bottom: 20px;
}

.team-member img {
  float: left;
  display: block;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 100px;
  height: auto;
}

@media only screen and (min-width: 500px) {
  #interwebs #find li {
    width: auto;
    display: inline-block;
  }
}

/* mobile size */
.container {
  width: 100%;
  padding: 0px 10%;
  margin: 0px auto;
}

/* tablet size */
@media only screen and (min-width: 620px) {
  .container {
    width: 580px;
    padding: 0px 20px;
  }
}

/* desktop size */
@media only screen and (min-width: 960px) {
  .container {
    width: 800px;
  }
}

/* clearfix */
.container:after {
  content: " ";
  display: table;
  clear: both;
}

.container {
  *zoom: 1;
}