<div id="newsletter" class="col-lg-12 newsletter">

  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
  <form action="http://superbigtree.us5.list-manage1.com/subscribe/post?u=b5b4f7fda673e887e9380b619&amp;id=0884c4f1e3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    
  <div class="mc-field-group">
    <h2>Find out when the book is released:</h2>

    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email">
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn">
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    </div>
  </form>
  </div>
  <!--End mc_embed_signup-->
</div>