{% if page.sidebar or post.sidebar %}
<div class="col-lg-4 sidebar">
  <h5>seattle.io around the interwebs</h5>
  <p>Find us on <a href="http://twitter.com/seattleio" target="_blank">twitter</a> and <a href="http://seattleio.tumblr.com" target="_blank">tumblr</a>.</p>
  <p><a href="{{ site.baseurl }}#mc_embed_signup">Sign up for our email newsletter</a> to get regular updates about the release of the local indie games book and upcoming books.</p>

  <p>Contact us at <a href="mailto:hi@seattle.io">hi@seattle.io</a>.</p>

  <h5>About seattle.io:</h5>
  <p>The goal: research local topics in Seattle, WA, and compile what we learn into a digital book.</p>
  <p>Each book will include interviews with local folks about what they do, why they do it, and how they do it. In addition, each book will include how-to guides for getting involved with that topic, and a comprehensive directory for learning more about the topic.</p>
  <p>We also bundle each book with related items. For instance, with the book about local indie game developers we'll bundle the book with games from some of those developers.</p>
  <h5>Possible upcoming topics:</h5>
  <ul>
    <li>Guide to Civics</li>
    <li>Theater of Seattle</li>
    <li>Seattle street food</li>
    <li><a href="mailto:hi@learnjs.io">Suggest other topics we should cover.</a></li>
  </ul>
</div>
{% endif %}