---
title: Blog
layout: page
sidebar: true
---

<section id="blog-page">
  <h1>Recent Posts.</h1>
  <div class="posts">
    {% for post in site.posts %}
      {% if post.published %}
        <div class="post">
          <p class="post-date">{{ post.date | date: "%d %B %Y" }}</p>
          <a href="{{ post.url }}" class="{{ post.slug }}">
            <h3 class="post-title">{{ post.title }}</h3>
          </a>
          <div class="post-content">{{ post.excerpt | truncate: 400 }}</div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
