---
layout: default
---
<div class="container">
  <div id="post">
    <h2>{{ page.title }}</h2>
    <p class="post-date">{{ page.date | date: "%d %B %Y" }} ~ {{ page.author }}</p>
    <div class="post-content">
      {{ content }}
    </div>
    <ul id="like" style="text-align: left">
      <li id="like-twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-via="seattleio">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </li>
      <li id="like-facebook">
        <iframe src="//www.facebook.com/plugins/like.php?href={{ site.url }}{{ page.url }}&amp;width=100&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;send=false&amp;appId=519892634715793" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
      </li>
      <li id="like-google">
        <div class="g-plusone" data-annotation="inline" data-width="120"></div>
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
      </li>
    </ul>
  </div>

  <div class="book" style="margin-top:50px; border-top:1px solid #efefec; padding-top: 20px;">
    <div class="book-cover">
      <img src="/img/books/play-local-cover-small.jpg" class="book-cover-small">
    </div>

    <div class="book-info">
      <h1 class="book-title"><b>Play Local:</b> Explore Seattle's locally-made video games.</h1>
      <div class="book-description"><p>Interviews with local video game makers, stories about what it's like to make games in Seattle, how-to guides for getting started making games, and a comprehensive directory to all things related to video games in Seattle.</p></div>
    </div>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="http://superbigtree.us5.list-manage1.com/subscribe/post?u=b5b4f7fda673e887e9380b619&amp;id=0884c4f1e3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      
    <div class="mc-field-group">
      <h3>Be the first to find out when the book is released:</h3>

      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn">
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      </div>
    </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
</div>