---
title: Events & Workshops
layout: page
sidebar: true
---
<section id="books-page">
  <h1>Events & Workshops.</h1>
  
  <p>seattle.io hosts a number of workshops and other events focused on the intersection of journalism, storytelling, and technology. Keep updated on events by <a href="{{ baseurl }}/newsletter">subscribing to our newsletter</a> and by <a href="http://www.meetup.com/seattle-io/" target="_blank">joining our group on meetup.com</a>.</p>

  <h1>Our events.</h1>
  <div class="posts">
    {% for post in site.posts %}
      {% if post.published and post.event %}
        <div class="post">
          <p class="post-date">{{ post.date | date: "%d %B %Y" }}</p>
          <a href="{{ post.url }}" class="{{ post.slug }}">
            <h3 class="post-title">{{ post.title }}</h3>
          </a>
          <div class="post-content">{{ post.excerpt | truncate: 400 }}</div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <br>
  <div class="group">
    <h1>Types of events we host.</h1>
    <div class="group-item">
      <h3>Learn to code</h3>
      <p>A 3-hour introduction to a technology like javascript or ruby.</p>
    </div>

    <div class="group-item">
      <h3>Hacker series</h3>
      <p>A series of 3 4-hour workshops that provide a deep dive into a technology.</p>
      <p>Possible topics: javascript, ruby, python, wordpress, ghost, node.js</p>
    </div>

    <div class="group-item">
      <h3>Blog locally: creating a community blog</h3>
      <p>A 4-hour workshop on creating and maintaining a locally-focused news blog.</p>
    </div>

    <div class="group-item">
      <h3>Basics of journalism</h3>
      <p>A 2-hour workshop covering the basics of journalism.</p>
    </div>
    
    <div class="group-item">
      <h3>SeattleWiki write-a-thon</h3>
      <p>Edit <a href="http://seattlewiki.net" target="_blank">SeattleWiki.net</a>!</p>
    </div>
  </div>
</section>
